body {
  margin: 0;
}
.no-haref-decoration {
  text-decoration: none;
  color: unset;
}
.dashboard-content {
  width: 100%;
  transform: scale(0.9);
}
.cards-dashboard {
  display: flex;
  text-align: center;
  flex-direction: column;
}
#dashboard {
  display: flex;
}
.cards-dashboard > div {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  color: #444;
  justify-content: center; 
  margin-top: 50px;
}
.dashboard-card-center {
  text-align: -webkit-center;
}
.card-dashboard {
  width: 300px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.507);
  color: #001b5e;
}
.card-dashboard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
}

.big-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: 100px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 25px;
}

.href-dashboard-card {
  width: calc(100% / 3);
  text-align: -webkit-center;
  display: block;
  width: min-content;
}