.menu-container {
  width: 25vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-color: #12385c;
  position: relative;
  transition: 0.5s;
}
.menu-content-container {
  display: flex;
}

.open-menu {
  margin-left: calc(100% + 10px);
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px !important;
}
.option-menu {
  padding: 25px;
  margin-top: 5px;
  color: white;
  transition: 0.2s ease;
  padding-left: 45px;
}
.option-menu:hover {
  background-color: #00274b !important;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}