* {
  font-family: 'PT Sans';
}
.select-form {
  height: 25px;
  padding: 20px;
}

.container-sale {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
}
hr {
  border-color: #8080803d;
}

.select-amount-option {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.1);
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  font-size: 0.8rem;
}
.select-option-amount {
  text-align: center;
  display: flex; 
  justify-content: space-between;
}

.grid-container {
  width: 85%;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
  padding-top: 20px;
}
.sale-title {
  margin-bottom: 40px !important;
}

.content-sale {
  display: flex;
}
.container-01 {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.container-02 {
  width: 50%;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.input-container-1 {
  display: flex;
  justify-content: space-between;
}
.input-container > input {
  align-self: center;
}
.product-select {
  width: 80%;
}
.quant-input {
  width: 20%;
}
#amount {
  width: 100%;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
  border: solid 1px hsl(0, 0%, 80%);
  text-align: center;
  height: 33px;
}
.text-end {
  text-align: right;
}
#send-sell {
  margin-right: 20px;
  margin-top: 20px;
}
#finally-add {
  width: 100%;
}
.table-sale {
  background-color: white;
  height: 60vh;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.sell-container-products {
  overflow-y: scroll;
  height: inherit;
}
.product-sell {
  display: flex;
  text-align: center;
  position: relative;
}

.table-sale-title {
  display: flex; 
  text-align: center;
  font-weight: 700;
  justify-content: space-between;
}

.card-sale-produto {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  border-right: solid 1px rgba(128, 128, 128, 0.542);
  border-top: solid 1px rgba(128, 128, 128, 0.542);
  border-left: solid 1px rgba(128, 128, 128, 0.542);
}
.card-sale-qtd {
  width: 10%;
  line-height: 28px;
  border-right: solid 1px rgba(128, 128, 128, 0.542);
  border-top: solid 1px rgba(128, 128, 128, 0.542);
}
.card-sale-valor {
  width: 20%;
  line-height: 28px;
  border-right: solid 1px rgba(128, 128, 128, 0.542);
  border-top: solid 1px rgba(128, 128, 128, 0.542);
}
.card-sale-valor-final {
  width: 20%;
  line-height: 28px;
  border-right: solid 1px rgba(128, 128, 128, 0.542);
  border-top: solid 1px rgba(128, 128, 128, 0.542);
}

.small-title {
  font-size: 2.5rem;
  margin: 0;
}
.grid-container button {
  border-radius: 5px;
  transition: 0.5s;
}
.grid-container button:hover {
  opacity: 0.7;
}
.delete-card {
  position: absolute;
  background-color: rgba(196, 0, 0, 0.361);
  color: white;
  width: 100%;
  height: 100%;
  line-height: 30px;
  transition: 0.05s;
  transform: scale(0);
  cursor: pointer;
}
.product-sell:hover .delete-card {
  transform: scale(1);
}
.msg-alerts {
  background-color: rgba(255, 255, 255, 0.528);
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
}

.input-form {
  width: 100%;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
  border: solid 1px hsl(0, 0%, 80%);
  text-align: center;
  height: 33px;

}
.details-sale {
  display: flex;
  justify-content: space-between;
}
.details-sale div {
  width: 49%;
  align-self: center;
}
.first-details-sale {
  border-right: solid 1px rgba(128, 128, 128, 0.37);
}
.subtotal-small {
  font-size: 1.5rem;
  margin-right: 0;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

/* Finale sale */


.finalize-container-sale {
  width: 75%;
  margin: auto;
  margin-top: 60px;
  padding: 40px;
}
.finale-sale-total {
  font-size: 1.2rem;
  background: black;
  color: white;
  padding: 10px;
  width: max-content;
}

.finale-sale-total-mini {
  margin-bottom: 10px;
}

#pay-value {
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 5px;
}

.finalize-btn-success {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.finalize-btn-cancel {
  margin-top: 20px;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.finalize-btn-cancel:hover {
  opacity: 0.8;
}
.finalize-btn-success:hover {
  opacity: 0.8;
}
.finalize-informations {
  height: 70px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-red {
  color: red;
}
.text-yellow {
  color: rgb(255, 131, 15);
}
.text-green {
  color: green;
}

/* ---------- Finish Notify -------------- */


.success-icon {
  background-color: green;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 4rem;
  color: white;
  line-height: 120px;
  transition: 0.5s;

  animation-name: sizeIcon;
  animation-duration: 0.5s;
}
.finish-sale-last {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.finalize-btn-blue {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(24, 24, 114);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
@keyframes sizeIcon {
  0% { transform: scale(0.1); }
  100% { transform: scale(1); }
}

.finish-sale-title {
  margin-left: 30px;
}